<div class="testimonial-area section-padding">
    <div class="container">
       <div class="row">
          <div class="testimonial-list indicator-style-3">
             <div class="single-testimonial">
                <div class="col-md-offset-1 col-md-2 col-sm-2">
                   <div class="support-img">
                      <img src="assets/img/testimonial/1.jpg" alt="">
                   </div>
                </div>
                <div class="col-md-8 col-sm-8">
                   <div class="testimonial-text">
                      <h2>What our client says</h2>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                      <a href="#">ZENIFAR DUE</a>
                   </div>
                </div>
             </div>
             <div class="single-testimonial">
                <div class="col-md-offset-1 col-md-2 col-sm-2">
                   <div class="support-img">
                      <img src="assets/img/testimonial/2.jpg" alt="">
                   </div>
                </div>
                <div class="col-md-8 col-sm-8">
                   <div class="testimonial-text">
                      <h2>What our client says</h2>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                      <a href="#">ZENIFAR DUE</a>
                   </div>
                </div>
             </div>
             <div class="single-testimonial">
                <div class="col-md-offset-1 col-md-2 col-sm-2">
                   <div class="support-img">
                      <img src="assets/img/testimonial/3.jpg" alt="">
                   </div>
                </div>
                <div class="col-md-8 col-sm-8">
                   <div class="testimonial-text">
                      <h2>What our client says</h2>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                      <a href="#">ZENIFAR DUE</a>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>