<div class="row">
    <div class="new-product-top-new">
       <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="single-top-product-new">
             <a href="">
                <div class="img-top">
                   <img src="assets/img/top-bg-1.jpg" alt="">
                </div>
                <div class="top-text">
                   <h4>Rangeeli Holi 1<i class='fa fa-arrow-right'></i></h4>
                </div>
             </a>
          </div>
       </div>
       <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="single-top-product-new">
             <a href="">
                <div class="img-top">
                   <img src="assets/img/top-bg-2.jpg" alt="">
                </div>
                <div class="top-text">
                   <h4>Boss Lady Collection <i class='fa fa-arrow-right'></i></h4>
                </div>
             </a>
          </div>
       </div>
    </div>
 </div>