<div class="new-product-area ft-section">
    <div class="container">
       <div class="row section-padding top-0">
          <div class="section-title">
             <h2>Featured Products</h2>
          </div>
          <div class="shop-single-product-area new-product-top-new ft-product">
            <div class="col-md-3 col-sm-6 cart-ft" *ngFor="let product of featureProduct">
               <div class="single-product">
                  <a href="single-product.html">
                  <img src="assets/img/ft-1.jpg" alt="">
                  </a>
                  <div class="single-product-overlay offer">
                    <h3>Sold out</h3>
                  </div>
                  <div class="single-product-content">
                     <div class="left-content pull-left">
                        <h2>Midnight Beauty Pearl Necklace Set</h2>
                        <span class="new-price">₹360.00</span>                                                      
                        <span class="old-price">
                           <div class="pro-rating">
                        <i class="fa fa-star color"></i>
                        <i class="fa fa-star color"></i>
                        <i class="fa fa-star color"></i>
                        <i class="fa fa-star color"></i>
                        <i class="fa fa-star"></i>
                     </div>
                        </span>                                                    
                     </div>
                     
                  </div>
               </div>
            </div>
          </div>
       </div>
    </div>
 </div>
 <div class="new-product-area">
    <div class="container">
       <div class="row section-padding top-0">
          <div class="section-title">
             <h2>Shop By Occasion</h2>
          </div>
          <div class="new-product-top-new ">
             <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-top-product-new">
                   <a href="">
                      <div class="img-top">
                         <img src="assets/img/shop-occ-1.webp" alt="">
                      </div>
                      <div class="top-text">
                         <h4>Bridal Jewellery <i class='fa fa-arrow-right'></i></h4>
                      </div>
                   </a>
                </div>
             </div>
             <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-top-product-new">
                   <a href="">
                      <div class="img-top">
                         <img src="assets/img/shop-occ-2.webp" alt="">
                      </div>
                      <div class="top-text">
                         <h4>Party Wear Jewellery <i class='fa fa-arrow-right'></i></h4>
                      </div>
                   </a>
                </div>
             </div>
             <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-top-product-new">
                   <a href="">
                      <div class="img-top">
                         <img src="assets/img/shop-occ-3.webp" alt="">
                      </div>
                      <div class="top-text">
                         <h4>Casual Jewellery <i class='fa fa-arrow-right'></i></h4>
                      </div>
                   </a>
                </div>
             </div>
             <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-top-product-new">
                   <a href="">
                      <div class="img-top">
                         <img src="assets/img/shop-occ-4.webp" alt="">
                      </div>
                      <div class="top-text">
                         <h4>Office Wear Jewellery <i class='fa fa-arrow-right'></i></h4>
                      </div>
                   </a>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <div class="new-product-area">
    <div class="container">
       <div class="row section-padding top-0">
          <div class="section-title">
             <h2>Shop By Material</h2>
          </div>
          <div class="new-product-top-new ">
            <div class="col-lg-6 col-md-6 col-sm-6" *ngFor="let material of materiallist">
               <div class="single-top-product-new">
                  <a href="">
                     <div class="img-top">
                        <img src="assets/img/shop-mat-1.webp" alt="">
                     </div>
                     <div class="top-text">
                        <h4>{{ material.name }} <i class='fa fa-arrow-right'></i></h4>
                     </div>
                  </a>
               </div>
            </div>
          </div>
       </div>
    </div>
