<!-- Blog Area Start -->
<div class="blog-area">
    <div class="container">
       <div class="row">
          <div class="section-title">
             <h2>LATEST FROM BLOG</h2>
          </div>
          <div class="blog-list indicator-style">
             <div class="col-md-4">
                <div class="single-blog">
                   <div class="blog-img">
                      <a href="#"><img src="assets/img/blog/1.jpg" alt=""></a>
                      <div class="blog-date">
                         <h2>20 <br>JAN<span>2016</span></h2>
                      </div>
                   </div>
                   <div class="blog-content-info">
                      <h3>Lorem Ipsum is simply dummy </h3>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the scrambled. </p>
                      <div class="post-info pull-left">
                         <span class="post-author">
                         <label>By:</label>
                         <a href="#"><span>John Smith</span></a>
                         </span>
                         <span class="comment">
                         <i class="flaticon-social-3"></i>
                         <span>Comment  <strong>02</strong></span>
                         </span>
                      </div>
                      <div class="read-more pull-right">
                         <a href="#">Read More</a>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-md-4">
                <div class="single-blog">
                   <div class="blog-img">
                      <a href="#"><img src="assets/img/blog/2.jpg" alt=""></a>
                      <div class="blog-date">
                         <h2>20 <br>JAN<span>2016</span></h2>
                      </div>
                   </div>
                   <div class="blog-content-info">
                      <h3>Lorem Ipsum is simply dummy </h3>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the scrambled. </p>
                      <div class="post-info pull-left">
                         <span class="post-author">
                         <label>By:</label>
                         <a href="#"><span>John Smith</span></a>
                         </span>
                         <span class="comment">
                         <i class="flaticon-social-3"></i>
                         <span>Comment  <strong>02</strong></span>
                         </span>
                      </div>
                      <div class="read-more pull-right">
                         <a href="#">Read More</a>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-md-4">
                <div class="single-blog">
                   <div class="blog-img">
                      <a href="#"><img src="assets/img/blog/3.jpg" alt=""></a>
                      <div class="blog-date">
                         <h2>20 <br>JAN<span>2016</span></h2>
                      </div>
                   </div>
                   <div class="blog-content-info">
                      <h3>Lorem Ipsum is simply dummy </h3>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the scrambled. </p>
                      <div class="post-info pull-left">
                         <span class="post-author">
                         <label>By:</label>
                         <a href="#"><span>John Smith</span></a>
                         </span>
                         <span class="comment">
                         <i class="flaticon-social-3"></i>
                         <span>Comment  <strong>02</strong></span>
                         </span>
                      </div>
                      <div class="read-more pull-right">
                         <a href="#">Read More</a>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-md-4">
                <div class="single-blog">
                   <div class="blog-img">
                      <a href="#"><img src="assets/img/blog/1.jpg" alt=""></a>
                      <div class="blog-date">
                         <h2>20 <br>JAN<span>2016</span></h2>
                      </div>
                   </div>
                   <div class="blog-content-info">
                      <h3>Lorem Ipsum is simply dummy </h3>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the scrambled. </p>
                      <div class="post-info pull-left">
                         <span class="post-author">
                         <label>By:</label>
                         <a href="#"><span>John Smith</span></a>
                         </span>
                         <span class="comment">
                         <i class="flaticon-social-3"></i>
                         <span>Comment  <strong>02</strong></span>
                         </span>
                      </div>
                      <div class="read-more pull-right">
                         <a href="#">Read More</a>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-md-4">
                <div class="single-blog">
                   <div class="blog-img">
                      <a href="#"><img src="assets/img/blog/2.jpg" alt=""></a>
                      <div class="blog-date">
                         <h2>20 <br>JAN<span>2016</span></h2>
                      </div>
                   </div>
                   <div class="blog-content-info">
                      <h3>Lorem Ipsum is simply dummy </h3>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the scrambled. </p>
                      <div class="post-info pull-left">
                         <span class="post-author">
                         <label>By:</label>
                         <a href="#"><span>John Smith</span></a>
                         </span>
                         <span class="comment">
                         <i class="flaticon-social-3"></i>
                         <span>Comment  <strong>02</strong></span>
                         </span>
                      </div>
                      <div class="read-more pull-right">
                         <a href="#">Read More</a>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>