

<div class="breadcrumbs-area2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>SHOP LEFT SIDEBAR</h2>
            </div>
        </div>
    </div>
</div>

<div class="shop-page-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="shop-widget">
                    <aside class="widget widget-categories">
                        <h2 class="sidebar-title">CATEGORY</h2>
                        <ul class="sidebar-menu" *ngFor="let product_list of data">
                            <li>
                                <a href="#">
                                    {{product_list.name}}                                          
                                    <span>(10)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Necklaces                                            
                                    <span>(15)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                   Bracelets
                                    <span>(5)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Earrings                                           
                                    <span>(25)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Churies                                 
                                    <span>(14)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Jewelry Sets                                           
                                    <span>(20)</span>
                                </a>
                            </li>
                        </ul>
                    </aside>
                    <aside class="widget widget-shop-by">
                        <h2 class="sidebar-title">SHOP BY</h2>
                        <h3 class="sidebar-sub-title">Manufacture</h3>
                        <ul class="sidebar-menu">
                            <li>
                                <a href="#">
                                    <span class="widget-hover">Rings</span>                                            
                                    <span>(20)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="widget-hover">Necklaces</span>                                            
                                    <span>(26)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="widget-hover">Bracelets</span>
                                    <span>(15)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="widget-hover">Earrings</span>                                            
                                    <span>(22)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="widget-hover">Churies</span>                                            
                                    <span>(26)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="widget-hover">Jewelry Sets</span>                                            
                                    <span>(36)</span>
                                </a>
                            </li>
                        </ul>
                    </aside>
                    <aside class="widget widget-shop-by">
                        <h3 class="sidebar-sub-title">Price</h3>
                        <div class="info-widget">
                            <div class="price_filter">
                                <div id="slider-range" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 3.57143%; width: 77.8571%;"></div><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 3.57143%;"></span><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 81.4286%;"></span></div>
                                <div class="price_slider_amount">
                                    <input type="text" id="amount" name="price" placeholder="Add Your Price">
                                    <input type="submit" value="SEARCH"> 
                                </div>
                            </div>
                        </div>
                    </aside>
                    <aside class="widget widget-shop-by">
                        <h3 class="sidebar-sub-title">Color</h3>
                        <ul class="sidebar-menu">
                            <li>
                                <a href="#">
                                    <span class="widget-hover">White</span>                                            
                                    <span>(21)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="widget-hover">Black</span>                                            
                                    <span>(5)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="widget-hover">Blue</span>
                                    <span>(10)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="widget-hover">Red</span>                                            
                                    <span>(14)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="widget-hover">Green</span>                                            
                                    <span>(20)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="widget-hover">Gray</span>                                            
                                    <span>(6)</span>
                                </a>
                            </li>
                        </ul>
                    </aside>
                    <aside class="widget widget-populer-tag">
                        <h2 class="sidebar-title">POPULAR TAG</h2>
                        <ul class="tag-list">
                            <li><a href="#">Fashion</a></li>
                            <li><a href="#">Women’s</a></li>
                            <li><a href="#">Kids</a></li>
                            <li><a href="#">Lookbook</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Dress</a></li>
                            <li><a href="#">Sale Off</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Clothing</a></li>
                            <li><a href="#">Clothing</a></li>
                            <li><a href="#">men’s</a></li>
                            <li><a href="#">Carry bag</a></li>
                        </ul>
                    </aside>
                    <aside class="widget widget-compare">
                        <h2 class="sidebar-title">COMPARE</h2>
                        <ul class="side-bar-compare">
                            <li>
                                Product Name #01  
                                <a href="#"><span><i class="fa fa-times"></i></span></a>
                            </li>
                            <li>
                                Product Name #02
                                <a href="#"><i class="fa fa-times"></i></a>
                            </li>
                        </ul>
                    </aside>
                    <aside class="widget widget-image">
                       <a href="#">
                           <img src="../assets/img/shop/side-bar.jpg" alt="">
                       </a>
                        <div class="widget-content">
                            <h2>Friday Sale <br>Extra <br>30% Off</h2>
                            <a href="#">Shop Now <i class="fa fa-angle-right"></i> </a>
                        </div>
                    </aside>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <div class="shop-right-area">
                    <div class="shop-tab-list">
                        <div class="shop-left-tab">
                            <div class="shop-tab-pill pull-left">
                                <ul>
                                    <li class="active" id="left"><a data-toggle="pill" href="#home"><i class="fa fa-th"></i><span></span></a></li>
                                    <li><a data-toggle="pill" href="#menu1"><i class="fa fa-th-list"></i><span></span></a></li>
                                </ul>
                            </div>
                            <div class="shop-tab-pill pull-right">
                                <ul>
                                    <li class="product-size-deatils">
                                        <div class="show-label">
                                            <label>Sort by : </label>
                                            <select>
                                                <option value="position" selected="selected">Position</option>
                                                <option value="Name">Name</option>
                                                <option value="Price">Price</option>
                                            </select>
                                        </div>
                                    </li>
                                    <li class="product-size-deatils">
                                        <div class="show-label">
                                            <label>Show : </label>
                                            <select>
                                                <option value="10" selected="selected">10</option>
                                                <option value="09">09</option>
                                                <option value="08">08</option>
                                                <option value="07">07</option>
                                                <option value="06">06</option>
                                            </select>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="shop-tab-pill pull-right">
                            <div class="shop-pagination">
                                <ul>
                                    <li><a href="#"><i class="fa fa-caret-left"></i></a></li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="row tab-pane fade in active" id="home">
                           <div class="shop-single-product-area">
                               <div class="col-md-4 col-sm-6">
                                   <div class="single-product">
                                       <a href="details.php">
                                           <img src="../assets/img/shop/5.jpg" alt="">
                                       </a>
                                       <div class="single-product-overlay sale">
                                           <h3>sale</h3>
                                       </div>
                                       <div class="single-product-content">
                                          <div class="left-content pull-left">
                                              <a href="#"><h2>STERLING SILVER</h2></a>
                                               <span class="new-price">$360.00</span>                                                     
                                          </div>
                                          <div class="right-content pull-right">
                                              <a href="#"><i class="flaticon-bag"></i></a>
                                          </div>
                                       </div>
                                   </div>
                               </div>
                               <div class="col-md-4 col-sm-6">
                                   <div class="single-product">
                                       <a href="details.php">
                                           <img src="../assets/img/shop/2.jpg" alt="">
                                       </a>
                                       <div class="single-product-overlay new">
                                           <h3>New</h3>
                                       </div>
                                       <div class="single-product-content">
                                          <div class="left-content pull-left">
                                              <a href="#"><h2>STERLING SILVER</h2></a>
                                               <span class="new-price">$360.00</span>                                                      
                                          </div>
                                          <div class="right-content pull-right">
                                              <a href="#"><i class="flaticon-bag"></i></a>
                                          </div>
                                       </div>
                                   </div>
                               </div>
                               <div class="col-md-4 col-sm-6">
                                   <div class="single-product">
                                       <a href="details.php">
                                           <img src="../assets/img/shop/3.jpg" alt="">
                                       </a>
                                       <div class="single-product-overlay offer">
                                           <h3>-20%</h3>
                                       </div>
                                       <div class="single-product-content">
                                          <div class="left-content pull-left">
                                              <a href="#"><h2>STERLING SILVER</h2></a>
                                               <span class="new-price">$360.00</span>                                                      
                                               <span class="old-price">$460.00</span>                                                    
                                          </div>
                                          <div class="right-content pull-right">
                                              <a href="#"><i class="flaticon-bag"></i></a>
                                          </div>
                                       </div>
                                   </div>
                               </div>
                               <div class="col-md-4 col-sm-6">
                                   <div class="single-product">
                                       <a href="details.php">
                                           <img src="../assets/img/shop/4.jpg" alt="">
                                       </a>
                                       <div class="single-product-content">
                                          <div class="left-content pull-left">
                                              <a href="#"><h2>STERLING SILVER</h2></a>
                                              <span class="new-price">$360.00</span>                                                  
                                          </div>
                                          <div class="right-content pull-right">
                                              <a href="#"><i class="flaticon-bag"></i></a>
                                          </div>
                                       </div>
                                   </div>
                               </div>
                               <div class="col-md-4 col-sm-6">
                                   <div class="single-product">
                                       <a href="details.php">
                                           <img src="../assets/img/shop/5.jpg" alt="">
                                       </a>
                                       <div class="single-product-overlay sale">
                                           <h3>Hot</h3>
                                       </div>
                                       <div class="single-product-content">
                                          <div class="left-content pull-left">
                                              <a href="#"><h2>STERLING SILVER</h2></a>
                                               <span class="new-price">$360.00</span>                                                    
                                          </div>
                                          <div class="right-content pull-right">
                                              <a href="#"><i class="flaticon-bag"></i></a>
                                          </div>
                                       </div>
                                   </div>
                               </div>
                               <div class="col-md-4 col-sm-6">
                                   <div class="single-product">
                                       <a href="details.php">
                                           <img src="../assets/img/shop/6.jpg" alt="">
                                       </a>
                                       <div class="single-product-content">
                                          <div class="left-content pull-left">
                                              <a href="#"><h2>STERLING SILVER</h2></a>
                                               <span class="new-price">$360.00</span>                                                      
                                               <span class="old-price">$450.00</span>                                              
                                          </div>
                                          <div class="right-content pull-right">
                                              <a href="#"><i class="flaticon-bag"></i></a>
                                          </div>
                                       </div>
                                   </div>
                               </div>
                               <div class="col-md-4 col-sm-6 hidden-xs">
                                   <div class="single-product">
                                       <a href="details.php">
                                           <img src="../assets/img/shop/7.jpg" alt="">
                                       </a>
                                       <div class="single-product-content">
                                          <div class="left-content pull-left">
                                              <a href="#"><h2>STERLING SILVER</h2></a>
                                               <span class="new-price">$360.00</span>                                        
                                          </div>
                                          <div class="right-content pull-right">
                                              <a href="#"><i class="flaticon-bag"></i></a>
                                          </div>
                                       </div>
                                   </div>
                               </div>
                               <div class="col-md-4 col-sm-6 hidden-xs">
                                   <div class="single-product">
                                       <a href="details.php">
                                           <img src="../assets/img/shop/8.jpg" alt="">
                                       </a>
                                       <div class="single-product-content">
                                          <div class="left-content pull-left">
                                              <a href="#"><h2>STERLING SILVER</h2></a>
                                               <span class="new-price">$360.00</span>
                                          </div>
                                          <div class="right-content pull-right">
                                              <a href="#"><i class="flaticon-bag"></i></a>
                                          </div>
                                       </div>
                                   </div>
                               </div>
                               <div class="col-md-4 hidden-sm hidden-xs">
                                   <div class="single-product">
                                       <a href="details.php">
                                           <img src="../assets/img/shop/9.jpg" alt="">
                                       </a>
                                       <div class="single-product-content">
                                          <div class="left-content pull-left">
                                              <a href="#"><h2>STERLING SILVER</h2></a>
                                               <span class="new-price">$360.00</span>                                          
                                               <span class="old-price">$540.00</span>                                              
                                          </div>
                                          <div class="right-content pull-right">
                                              <a href="#"><i class="flaticon-bag"></i></a>
                                          </div>
                                       </div>
                                   </div>
                               </div>
                               <div class="col-md-4 hidden-sm hidden-xs">
                                   <div class="single-product">
                                       <a href="details.php">
                                           <img src="../assets/img/shop/10.jpg" alt="">
                                       </a>
                                       <div class="single-product-content">
                                          <div class="left-content pull-left">
                                              <a href="#"><h2>STERLING SILVER</h2></a>
                                               <span class="new-price">$360.00</span>
                                          </div>
                                          <div class="right-content pull-right">
                                              <a href="#"><i class="flaticon-bag"></i></a>
                                          </div>
                                       </div>
                                   </div>
                               </div>
                               <div class="col-md-4 hidden-sm hidden-xs">
                                   <div class="single-product">
                                       <a href="details.php">
                                           <img src="../assets/img/shop/11.jpg" alt="">
                                       </a>
                                       <div class="single-product-content">
                                          <div class="left-content pull-left">
                                              <a href="#"><h2>STERLING SILVER</h2></a>
                                               <span class="new-price">$360.00</span>
                                          </div>
                                          <div class="right-content pull-right">
                                              <a href="#"><i class="flaticon-bag"></i></a>
                                          </div>
                                       </div>
                                   </div>
                               </div>
                               <div class="col-md-4 hidden-sm hidden-xs">
                                   <div class="single-product">
                                       <a href="details.php">
                                           <img src="../assets/img/shop/12.jpg" alt="">
                                       </a>
                                       <div class="single-product-content">
                                          <div class="left-content pull-left">
                                              <a href="#"><h2>STERLING SILVER</h2></a>
                                               <span class="new-price">$360.00</span>
                                               <span class="old-price">$450.00</span>                     
                                          </div>
                                          <div class="right-content pull-right">
                                              <a href="#"><i class="flaticon-bag"></i></a>
                                          </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                        </div>
                        <div id="menu1" class="tab-pane fade">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="shop-list-single">
                                        <div class="shop-list-left">
                                            <a href="#"><img src="../assets/img/shop/5.jpg" alt=""></a>
                                        </div>  
                                        <div class="shop-list-right">
                                            <div class="left-content">
                                                <a href="#"><h2>STERLING SILVER</h2></a>
                                                <span class="new-price">$360.00</span>
                                            </div>
                                            <div class="list-pro-rating">
                                                <i class="fa fa-star icolor"></i>
                                                <i class="fa fa-star icolor"></i>
                                                <i class="fa fa-star icolor"></i>
                                                <i class="fa fa-star icolor"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="product-desc">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla.Morbi ornare lectus quis justo gravida semper.</p>
                                                <p>Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla.</p>
                                            </div>
                                            <a class="btn-default" href="#">SHOP NOW</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="shop-list-single">
                                        <div class="shop-list-left">
                                            <a href="#"><img src="../assets/img/shop/2.jpg" alt=""></a>
                                        </div>  
                                        <div class="shop-list-right">
                                            <div class="left-content">
                                                <a href="#"><h2>STERLING SILVER</h2></a>
                                                <span class="new-price">$360.00</span>
                                            </div>
                                            <div class="list-pro-rating">
                                                <i class="fa fa-star icolor"></i>
                                                <i class="fa fa-star icolor"></i>
                                                <i class="fa fa-star icolor"></i>
                                                <i class="fa fa-star icolor"></i>
                                                <i class="fa fa-star icolor"></i>
                                            </div>
                                            <div class="product-desc">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla.Morbi ornare lectus quis justo gravida semper.</p>
                                                <p>Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla.</p>
                                            </div>
                                            <a class="btn-default" href="#">SHOP NOW</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="shop-list-single">
                                        <div class="shop-list-left">
                                            <a href="#"><img src="../assets/img/shop/3.jpg" alt=""></a>
                                        </div>  
                                        <div class="shop-list-right">
                                            <div class="left-content">
                                                <a href="#"><h2>STERLING SILVER</h2></a>
                                                <span class="new-price">$360.00</span>
                                            </div>
                                            <div class="list-pro-rating">
                                                <i class="fa fa-star icolor"></i>
                                                <i class="fa fa-star icolor"></i>
                                                <i class="fa fa-star icolor"></i>
                                                <i class="fa fa-star icolor"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="product-desc">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla.Morbi ornare lectus quis justo gravida semper.</p>
                                                <p>Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla.</p>
                                            </div>
                                            <a class="btn-default" href="#">SHOP NOW</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="shop-list-single">
                                        <div class="shop-list-left">
                                            <a href="#"><img src="../assets/img/shop/4.jpg" alt=""></a>
                                        </div>  
                                        <div class="shop-list-right">
                                            <div class="left-content">
                                                <a href="#"><h2>STERLING SILVER</h2></a>
                                                <span class="new-price">$250.00</span>
                                            </div>
                                            <div class="list-pro-rating">
                                                <i class="fa fa-star icolor"></i>
                                                <i class="fa fa-star icolor"></i>
                                                <i class="fa fa-star icolor"></i>
                                                <i class="fa fa-star icolor"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="product-desc">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla.Morbi ornare lectus quis justo gravida semper.</p>
                                                <p>Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla.</p>
                                            </div>
                                            <a class="btn-default" href="#">SHOP NOW</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shop-tab-list no-margin">
                        <div class="shop-left-tab">
                            <div class="shop-tab-pill pull-left">
                                <ul>
                                    <li class="active first-margin"><a data-toggle="pill" href="#home"><i class="fa fa-th"></i><span></span></a></li>
                                    <li><a data-toggle="pill" href="#menu1"><i class="fa fa-th-list"></i><span></span></a></li>
                                </ul>
                            </div>
                            <div class="shop-tab-pill pull-right">
                                <ul>
                                    <li class="product-size-deatils">
                                        <div class="show-label">
                                            <label>Sort by : </label>
                                            <select>
                                                <option value="position" selected="selected">Position</option>
                                                <option value="Name">Name</option>
                                                <option value="Price">Price</option>
                                            </select>
                                        </div>
                                    </li>
                                    <li class="product-size-deatils">
                                        <div class="show-label">
                                            <label>Show : </label>
                                            <select>
                                                <option value="10" selected="selected">10</option>
                                                <option value="09">09</option>
                                                <option value="08">08</option>
                                                <option value="07">07</option>
                                                <option value="06">06</option>
                                            </select>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="shop-tab-pill pull-right">
                            <div class="shop-pagination">
                                <ul>
                                    <li><a href="#"><i class="fa fa-caret-left"></i></a></li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="brand-area section-padding">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h2>OUR BRANDS</h2>
            </div>  
            <div class="brand-list indicator-style2 owl-carousel owl-theme" style="opacity: 1; display: block;">
                <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 3744px; left: 0px; display: block; transition: all 0ms ease 0s; transform: translate3d(0px, 0px, 0px);"><div class="owl-item" style="width: 234px;"><div class="col-md-12">
                    <div class="single-brand">
                        <a href="#">
                            <img src="../assets/img/brand/1.jpg" alt="">
                        </a>
                    </div>
                </div></div><div class="owl-item" style="width: 234px;"><div class="col-md-12">
                    <div class="single-brand">
                        <a href="#">
                            <img src="../assets/img/brand/2.jpg" alt="">
                        </a>
                    </div>
                </div></div><div class="owl-item" style="width: 234px;"><div class="col-md-12">
                    <div class="single-brand">
                        <a href="#">
                            <img src="../assets/img/brand/3.jpg" alt="">
                        </a>
                    </div>
                </div></div><div class="owl-item" style="width: 234px;"><div class="col-md-12">
                    <div class="single-brand">
                        <a href="#">
                            <img src="../assets/img/brand/4.jpg" alt="">
                        </a>
                    </div>
                </div></div><div class="owl-item" style="width: 234px;"><div class="col-md-12">
                    <div class="single-brand">
                        <a href="#">
                            <img src="../assets/img/brand/5.jpg" alt="">
                        </a>
                    </div>
                </div></div><div class="owl-item" style="width: 234px;"><div class="col-md-12">
                    <div class="single-brand">
                        <a href="#">
                            <img src="../assets/img/brand/1.jpg" alt="">
                        </a>
                    </div>
                </div></div><div class="owl-item" style="width: 234px;"><div class="col-md-12">
                    <div class="single-brand">
                        <a href="#">
                            <img src="../assets/img/brand/2.jpg" alt="">
                        </a>
                    </div>
                </div></div><div class="owl-item" style="width: 234px;"><div class="col-md-12">
                    <div class="single-brand">
                        <a href="#">
                            <img src="../assets/img/brand/3.jpg" alt="">
                        </a>
                    </div>
                </div></div></div></div>
                
                
                
                
                
                
                
            <div class="owl-controls clickable"><div class="owl-buttons"><div class="owl-prev"><i class="flaticon-arrows-3"></i></div><div class="owl-next"><i class="flaticon-arrows-4"></i></div></div></div></div>                  
        </div>
    </div>
</div>