<!--New Product Area Start--> 
<div class="new-product-area">
    <div class="container">
       <app-header-upper-section></app-header-upper-section>
       <div class="row section-padding">
         <div class="section-title top-0">
            <h2>Shop By Product Type</h2>
         </div>
         <div class="new-product-top-new ">
            <div class="col-lg-6 col-md-6 col-sm-6">
               <div class="single-top-product-new">
                  <a href="">
                     <div class="img-top">
                        <img src="assets/img/shop-by-1.webp" alt="">
                     </div>
                     <div class="top-text">
                        <h4>Necklace Sets <i class='fa fa-arrow-right'></i></h4>
                     </div>
                  </a>
               </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
               <div class="single-top-product-new">
                  <a href="">
                     <div class="img-top">
                        <img src="assets/img/shop-by-2.webp" alt="">
                     </div>
                     <div class="top-text">
                        <h4>Pendant Sets <i class='fa fa-arrow-right'></i></h4>
                     </div>
                  </a>
               </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
               <div class="single-top-product-new">
                  <a href="">
                     <div class="img-top">
                        <img src="assets/img/shop-by-3.webp" alt="">
                     </div>
                     <div class="top-text">
                        <h4>Earrings <i class='fa fa-arrow-right'></i></h4>
                     </div>
                  </a>
               </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
               <div class="single-top-product-new">
                  <a href="">
                     <div class="img-top">
                        <img src="assets/img/shop-by-4.webp" alt="">
                     </div>
                     <div class="top-text">
                        <h4>Bracelets <i class='fa fa-arrow-right'></i></h4>
                     </div>
                  </a>
               </div>
            </div>
         </div>
      </div>
     
   </div>
</div>
 <!-- New Product Area End -->  
 <app-home-page-product></app-home-page-product>
<app-home-page-blog></app-home-page-blog>
<app-home-page-testimonial></app-home-page-testimonial>
<app-brands></app-brands>  
