<!--New Product Area Start--> 
<div class="new-product-area">
    <div class="container">
       <div class="row">
          <div class="new-product-top-new">
             <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-top-product-new">
                   <a href="">
                      <div class="img-top">
                         <img src="assets/img/top-bg-1.jpg" alt="">
                      </div>
                      <div class="top-text">
                         <h4>Rangeeli Holi <i class='fa fa-arrow-right'></i></h4>
                      </div>
                   </a>
                </div>
             </div>
             <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-top-product-new">
                   <a href="">
                      <div class="img-top">
                         <img src="assets/img/top-bg-2.jpg" alt="">
                      </div>
                      <div class="top-text">
                         <h4>Boss Lady Collection <i class='fa fa-arrow-right'></i></h4>
                      </div>
                   </a>
                </div>
             </div>
          </div>
       </div>
       <div class="row section-padding">
          <div class="section-title top-0">
             <h2>Shop By Product Type</h2>
          </div>
          <div class="new-product-top-new ">
             <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-top-product-new">
                   <a href="">
                      <div class="img-top">
                         <img src="assets/img/shop-by-1.webp" alt="">
                      </div>
                      <div class="top-text">
                         <h4>Necklace Sets <i class='fa fa-arrow-right'></i></h4>
                      </div>
                   </a>
                </div>
             </div>
             <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-top-product-new">
                   <a href="">
                      <div class="img-top">
                         <img src="assets/img/shop-by-2.webp" alt="">
                      </div>
                      <div class="top-text">
                         <h4>Pendant Sets <i class='fa fa-arrow-right'></i></h4>
                      </div>
                   </a>
                </div>
             </div>
             <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-top-product-new">
                   <a href="">
                      <div class="img-top">
                         <img src="assets/img/shop-by-3.webp" alt="">
                      </div>
                      <div class="top-text">
                         <h4>Earrings <i class='fa fa-arrow-right'></i></h4>
                      </div>
                   </a>
                </div>
             </div>
             <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-top-product-new">
                   <a href="">
                      <div class="img-top">
                         <img src="assets/img/shop-by-4.webp" alt="">
                      </div>
                      <div class="top-text">
                         <h4>Bracelets <i class='fa fa-arrow-right'></i></h4>
                      </div>
                   </a>
                </div>
             </div>
          </div>
       </div>
      
    </div>
 </div>
 <!-- New Product Area End -->  

<div class="new-product-area ft-section">
    <div class="container">
       <div class="row section-padding top-0">
          <div class="section-title">
             <h2>Featured Products</h2>
          </div>
          <div class="shop-single-product-area new-product-top-new ft-product">
             <div class="col-md-3 col-sm-6 cart-ft">
                <div class="single-product">
                   <a href="single-product.html">
                   <img src="assets/img/ft-1.jpg" alt="">
                   </a>
                   <div class="single-product-overlay offer">
                     <h3>Sold out</h3>
                   </div>
                   <div class="single-product-content">
                      <div class="left-content pull-left">
                         <h2>Midnight Beauty Pearl Necklace Set</h2>
                         <span class="new-price">₹360.00</span>                                                      
                         <span class="old-price">
                            <div class="pro-rating">
                         <i class="fa fa-star color"></i>
                         <i class="fa fa-star color"></i>
                         <i class="fa fa-star color"></i>
                         <i class="fa fa-star color"></i>
                         <i class="fa fa-star"></i>
                      </div>
                         </span>                                                    
                      </div>
                      
                   </div>
                </div>
             </div>
           
             <div class="col-md-3 col-sm-6 cart-ft">
                <div class="single-product">
                   <a href="single-product.html">
                   <img src="assets/img/ft-2.jpg" alt="">
                   </a>
                   <div class="single-product-overlay offer">
                      <h3>Sold out</h3>
                   </div>
                   <div class="single-product-content">
                      <div class="left-content pull-left">
                         <h2>Midnight Beauty Pearl Necklace Set</h2>
                         <span class="new-price">₹360.00</span>                                                      
                         <span class="old-price">
                            <div class="pro-rating">
                         <i class="fa fa-star color"></i>
                         <i class="fa fa-star color"></i>
                         <i class="fa fa-star color"></i>
                         <i class="fa fa-star color"></i>
                         <i class="fa fa-star"></i>
                      </div>
                         </span>                                                    
                      </div>
                      
                   </div>
                </div>
             </div>
             <div class="col-md-3 col-sm-6 cart-ft">
                <div class="single-product">
                   <a href="single-product.html">
                   <img src="assets/img/ft-3.jpg" alt="">
                   </a>
                   <div class="single-product-overlay offer">
                      <h3>Sold out</h3>
                   </div>
                   <div class="single-product-content">
                      <div class="left-content pull-left">
                         <h2>Midnight Beauty Pearl Necklace Set</h2>
                         <span class="new-price">₹360.00</span>                                                      
                         <span class="old-price">
                            <div class="pro-rating">
                         <i class="fa fa-star color"></i>
                         <i class="fa fa-star color"></i>
                         <i class="fa fa-star color"></i>
                         <i class="fa fa-star color"></i>
                         <i class="fa fa-star"></i>
                      </div>
                         </span>                                                    
                      </div>
                      
                   </div>
                </div>
             </div>
             <div class="col-md-3 col-sm-6 cart-ft">
                <div class="single-product">
                   <a href="single-product.html">
                   <img src="assets/img/ft-4.jpg" alt="">
                   </a>
                   <div class="single-product-overlay offer">
                      <h3>Sold out</h3>
                   </div>
                   <div class="single-product-content">
                      <div class="left-content pull-left">
                         <h2>Midnight Beauty Pearl Necklace Set</h2>
                         <span class="new-price">₹360.00</span>                                                      
                         <span class="old-price">
                            <div class="pro-rating">
                         <i class="fa fa-star color"></i>
                         <i class="fa fa-star color"></i>
                         <i class="fa fa-star color"></i>
                         <i class="fa fa-star color"></i>
                         <i class="fa fa-star"></i>
                      </div>
                         </span>                                                    
                      </div>
                      
                   </div>
                </div>
             </div>
            
          </div>
       </div>
    </div>
 </div>
<div class="new-product-area">
    <div class="container">
       <div class="row section-padding top-0">
          <div class="section-title">
             <h2>Shop By Material</h2>
          </div>
          <div class="new-product-top-new ">
             <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-top-product-new">
                   <a href="">
                      <div class="img-top">
                         <img src="assets/img/shop-mat-1.webp" alt="">
                      </div>
                      <div class="top-text">
                         <h4>American Diamond Jewellery <i class='fa fa-arrow-right'></i></h4>
                      </div>
                   </a>
                </div>
             </div>
             <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-top-product-new">
                   <a href="">
                      <div class="img-top">
                         <img src="assets/img/shop-mat-2.webp" alt="">
                      </div>
                      <div class="top-text">
                         <h4>Pearl Jewellery <i class='fa fa-arrow-right'></i></h4>
                      </div>
                   </a>
                </div>
             </div>
             <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-top-product-new">
                   <a href="">
                      <div class="img-top">
                         <img src="assets/img/shop-mat-3.webp" alt="">
                      </div>
                      <div class="top-text">
                         <h4>Artificial Gemstone Jewellery <i class='fa fa-arrow-right'></i></h4>
                      </div>
                   </a>
                </div>
             </div>
             <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-top-product-new">
                   <a href="">
                      <div class="img-top">
                         <img src="assets/img/shop-mat-4.webp" alt="">
                      </div>
                      <div class="top-text">
                         <h4>Enamel & Meenakari <i class='fa fa-arrow-right'></i></h4>
                      </div>
                   </a>
                </div>
             </div>
             <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-top-product-new">
                   <a href="">
                      <div class="img-top">
                         <img src="assets/img/shop-mat-5.webp" alt="">
                      </div>
                      <div class="top-text">
                         <h4>Gold Plated Jewellery <i class='fa fa-arrow-right'></i></h4>
                      </div>
                   </a>
                </div>
             </div>
             <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-top-product-new">
                   <a href="">
                      <div class="img-top">
                         <img src="assets/img/shop-mat-6.webp" alt="">
                      </div>
                      <div class="top-text">
                         <h4>Mother of Pearl <i class='fa fa-arrow-right'></i></h4>
                      </div>
                   </a>
                </div>
             </div>
          </div>
       </div>
       <div class="row section-padding top-0">
          <div class="section-title">
             <h2>Shop By Occasion</h2>
          </div>
          <div class="new-product-top-new ">
             <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-top-product-new">
                   <a href="">
                      <div class="img-top">
                         <img src="assets/img/shop-occ-1.webp" alt="">
                      </div>
                      <div class="top-text">
                         <h4>Bridal Jewellery <i class='fa fa-arrow-right'></i></h4>
                      </div>
                   </a>
                </div>
             </div>
             <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-top-product-new">
                   <a href="">
                      <div class="img-top">
                         <img src="assets/img/shop-occ-2.webp" alt="">
                      </div>
                      <div class="top-text">
                         <h4>Party Wear Jewellery <i class='fa fa-arrow-right'></i></h4>
                      </div>
                   </a>
                </div>
             </div>
             <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-top-product-new">
                   <a href="">
                      <div class="img-top">
                         <img src="assets/img/shop-occ-3.webp" alt="">
                      </div>
                      <div class="top-text">
                         <h4>Casual Jewellery <i class='fa fa-arrow-right'></i></h4>
                      </div>
                   </a>
                </div>
             </div>
             <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-top-product-new">
                   <a href="">
                      <div class="img-top">
                         <img src="assets/img/shop-occ-4.webp" alt="">
                      </div>
                      <div class="top-text">
                         <h4>Office Wear Jewellery <i class='fa fa-arrow-right'></i></h4>
                      </div>
                   </a>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
<div class="new-product-area">
    <div class="container">
       <div class="row section-padding top-0">
          <div class="section-title">
             <h2>Shop By Material</h2>
          </div>
          <div class="new-product-top-new ">
             <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-top-product-new">
                   <a href="">
                      <div class="img-top">
                         <img src="assets/img/shop-mat-1.webp" alt="">
                      </div>
                      <div class="top-text">
                         <h4>American Diamond Jewellery <i class='fa fa-arrow-right'></i></h4>
                      </div>
                   </a>
                </div>
             </div>
             <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-top-product-new">
                   <a href="">
                      <div class="img-top">
                         <img src="assets/img/shop-mat-2.webp" alt="">
                      </div>
                      <div class="top-text">
                         <h4>Pearl Jewellery <i class='fa fa-arrow-right'></i></h4>
                      </div>
                   </a>
                </div>
             </div>
             <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-top-product-new">
                   <a href="">
                      <div class="img-top">
                         <img src="assets/img/shop-mat-3.webp" alt="">
                      </div>
                      <div class="top-text">
                         <h4>Artificial Gemstone Jewellery <i class='fa fa-arrow-right'></i></h4>
                      </div>
                   </a>
                </div>
             </div>
             <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-top-product-new">
                   <a href="">
                      <div class="img-top">
                         <img src="assets/img/shop-mat-4.webp" alt="">
                      </div>
                      <div class="top-text">
                         <h4>Enamel & Meenakari <i class='fa fa-arrow-right'></i></h4>
                      </div>
                   </a>
                </div>
             </div>
             <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-top-product-new">
                   <a href="">
                      <div class="img-top">
                         <img src="assets/img/shop-mat-5.webp" alt="">
                      </div>
                      <div class="top-text">
                         <h4>Gold Plated Jewellery <i class='fa fa-arrow-right'></i></h4>
                      </div>
                   </a>
                </div>
             </div>
             <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-top-product-new">
                   <a href="">
                      <div class="img-top">
                         <img src="assets/img/shop-mat-6.webp" alt="">
                      </div>
                      <div class="top-text">
                         <h4>Mother of Pearl <i class='fa fa-arrow-right'></i></h4>
                      </div>
                   </a>
                </div>
             </div>
          </div>
       </div>
    </div>
<!-- Blog Area Start -->
<div class="blog-area">
    <div class="container">
       <div class="row">
          <div class="section-title">
             <h2>LATEST FROM BLOG</h2>
          </div>
          <div class="blog-list indicator-style">
             <div class="col-md-4">
                <div class="single-blog">
                   <div class="blog-img">
                      <a href="#"><img src="assets/img/blog/1.jpg" alt=""></a>
                      <div class="blog-date">
                         <h2>20 <br>JAN<span>2016</span></h2>
                      </div>
                   </div>
                   <div class="blog-content-info">
                      <h3>Lorem Ipsum is simply dummy </h3>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the scrambled. </p>
                      <div class="post-info pull-left">
                         <span class="post-author">
                         <label>By:</label>
                         <a href="#"><span>John Smith</span></a>
                         </span>
                         <span class="comment">
                         <i class="flaticon-social-3"></i>
                         <span>Comment  <strong>02</strong></span>
                         </span>
                      </div>
                      <div class="read-more pull-right">
                         <a href="#">Read More</a>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-md-4">
                <div class="single-blog">
                   <div class="blog-img">
                      <a href="#"><img src="assets/img/blog/2.jpg" alt=""></a>
                      <div class="blog-date">
                         <h2>20 <br>JAN<span>2016</span></h2>
                      </div>
                   </div>
                   <div class="blog-content-info">
                      <h3>Lorem Ipsum is simply dummy </h3>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the scrambled. </p>
                      <div class="post-info pull-left">
                         <span class="post-author">
                         <label>By:</label>
                         <a href="#"><span>John Smith</span></a>
                         </span>
                         <span class="comment">
                         <i class="flaticon-social-3"></i>
                         <span>Comment  <strong>02</strong></span>
                         </span>
                      </div>
                      <div class="read-more pull-right">
                         <a href="#">Read More</a>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-md-4">
                <div class="single-blog">
                   <div class="blog-img">
                      <a href="#"><img src="assets/img/blog/3.jpg" alt=""></a>
                      <div class="blog-date">
                         <h2>20 <br>JAN<span>2016</span></h2>
                      </div>
                   </div>
                   <div class="blog-content-info">
                      <h3>Lorem Ipsum is simply dummy </h3>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the scrambled. </p>
                      <div class="post-info pull-left">
                         <span class="post-author">
                         <label>By:</label>
                         <a href="#"><span>John Smith</span></a>
                         </span>
                         <span class="comment">
                         <i class="flaticon-social-3"></i>
                         <span>Comment  <strong>02</strong></span>
                         </span>
                      </div>
                      <div class="read-more pull-right">
                         <a href="#">Read More</a>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-md-4">
                <div class="single-blog">
                   <div class="blog-img">
                      <a href="#"><img src="assets/img/blog/1.jpg" alt=""></a>
                      <div class="blog-date">
                         <h2>20 <br>JAN<span>2016</span></h2>
                      </div>
                   </div>
                   <div class="blog-content-info">
                      <h3>Lorem Ipsum is simply dummy </h3>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the scrambled. </p>
                      <div class="post-info pull-left">
                         <span class="post-author">
                         <label>By:</label>
                         <a href="#"><span>John Smith</span></a>
                         </span>
                         <span class="comment">
                         <i class="flaticon-social-3"></i>
                         <span>Comment  <strong>02</strong></span>
                         </span>
                      </div>
                      <div class="read-more pull-right">
                         <a href="#">Read More</a>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-md-4">
                <div class="single-blog">
                   <div class="blog-img">
                      <a href="#"><img src="assets/img/blog/2.jpg" alt=""></a>
                      <div class="blog-date">
                         <h2>20 <br>JAN<span>2016</span></h2>
                      </div>
                   </div>
                   <div class="blog-content-info">
                      <h3>Lorem Ipsum is simply dummy </h3>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the scrambled. </p>
                      <div class="post-info pull-left">
                         <span class="post-author">
                         <label>By:</label>
                         <a href="#"><span>John Smith</span></a>
                         </span>
                         <span class="comment">
                         <i class="flaticon-social-3"></i>
                         <span>Comment  <strong>02</strong></span>
                         </span>
                      </div>
                      <div class="read-more pull-right">
                         <a href="#">Read More</a>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
<div class="testimonial-area section-padding">
    <div class="container">
       <div class="row">
          <div class="testimonial-list indicator-style-3">
             <div class="single-testimonial">
                <div class="col-md-offset-1 col-md-2 col-sm-2">
                   <div class="support-img">
                      <img src="assets/img/testimonial/1.jpg" alt="">
                   </div>
                </div>
                <div class="col-md-8 col-sm-8">
                   <div class="testimonial-text">
                      <h2>What our client says</h2>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                      <a href="#">ZENIFAR DUE</a>
                   </div>
                </div>
             </div>
             <div class="single-testimonial">
                <div class="col-md-offset-1 col-md-2 col-sm-2">
                   <div class="support-img">
                      <img src="assets/img/testimonial/2.jpg" alt="">
                   </div>
                </div>
                <div class="col-md-8 col-sm-8">
                   <div class="testimonial-text">
                      <h2>What our client says</h2>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                      <a href="#">ZENIFAR DUE</a>
                   </div>
                </div>
             </div>
             <div class="single-testimonial">
                <div class="col-md-offset-1 col-md-2 col-sm-2">
                   <div class="support-img">
                      <img src="assets/img/testimonial/3.jpg" alt="">
                   </div>
                </div>
                <div class="col-md-8 col-sm-8">
                   <div class="testimonial-text">
                      <h2>What our client says</h2>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                      <a href="#">ZENIFAR DUE</a>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
<app-brands></app-brands>  
