<!--New Product Area Start--> 
<div class="new-product-area">
    <div class="container">
       <app-header-upper-section></app-header-upper-section>
      <!-- <app-home-top-section></app-home-top-section> -->
       <div class="row section-padding">
         <div class="section-title top-0">
            <h2>Shop By Product Type</h2>
         </div>
         <div class="new-product-top-new ">
            <div class="col-lg-6 col-md-6 col-sm-6" *ngFor="let category of categorylist">
               <div class="single-top-product-new">
                  <a href="">
                     <div class="img-top">
                        <img src="{{ category.category_image }} " alt="">
                     </div>
                     <div class="top-text">
                        <h4>{{ category.top_category }}<i class='fa fa-arrow-right'></i></h4>
                     </div>
                  </a>
               </div>
            </div>
         </div>
      </div>
     
   </div>
</div>
 <!-- New Product Area End -->  
 <app-home-page-product></app-home-page-product>
<app-home-page-blog></app-home-page-blog>
<app-home-page-testimonial></app-home-page-testimonial>
<app-brands></app-brands>  
