<div class="col-md-10 col-sm-9 hidden-xs">
    <div class="mainmenu text-center">
        <nav>
            <ul id="nav">
                <li><a href="#">HOME</a></li>
                <li><a href="javascript:void(0)" [routerLink]="['./product-list']">SHOP</a></li>
                <li><a href="#">MEN</a></li>
                <li><a href="#">WOMEN</a></li>
                <li><a href="#">COLLECTION</a></li>
                <li><a href="#">Pages</a>
                    <ul class="sub-menu">
                        <li><a href="#">404 Page</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="cart.php">Cart Page</a></li>
                        <li><a href="#">Check Out</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="login.php">Login</a></li>
                        <li><a href="my-account.php">My Account</a></li>
                        <li><a href="#">Shopping Page</a></li>
                        <li><a href="details.php">Single Shop Page</a></li>
                        <li><a href="#">Wishlist Page</a></li>
                    </ul>
                </li>
                <li><a href="#">CONTACT</a></li>
            </ul>
        </nav>
    </div>
</div>